@{
    ViewData["Title"] = "About";
}
<h2>About the Lemon Party</h2>

<div class="aboutUs">
    <p>Once upon a time there were 3 guys...</p>

    <p>
        We decided enough was enough. Corona virus had taken its fair share from us. We were going to fight back.
        Influenced by the miracle fruit that is THE LEMON we set out with a purpose. To take the lemons that life
        gave us and make some MF lemonade!
    </p>

    <p>
        Community is more important than ever at a time like this. There needed to be a place where we could all come
        together united in our purpose to make a better world. This is that community. A lemon group? A lemon gathering?
        NO... a LEMON PARTY!
    </p>

    <p>
        The lemon party is driven by its members. No decision is made without unanimous consent. Even the merchandise sold
        in our store has to be unanimously agreed upon before sale. Together we can overcome the hard times in our lives
        and make some delicious lemonade.
    </p>

    <p>
        Scurvy, the common cold, ice tea... all these are made better with the help of a lemon or two. Let us make the entire
        world a better, healthier place. LEMONS!
    </p>
</div>
